.home-section-a-container {
    min-height: 100vh;
    height: auto;
}

.title-row {
    font-size: 110px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 90px;
    color: #02303f;
}

.subtitle-container {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    max-width:1000px;
    
}

@media only screen and (max-height: 500px) {
    .title-row {
        font-size: 40px;
        line-height: 40px;
    }
    .home-section-a-container {
        min-height: calc(130vh);
    }
}

@media only screen and (max-width: 700px) {
    .title-row {
        font-size: 50px;
        line-height: 45px;
    }

    .home-section-a-container {
        min-height: calc(100vh);
    }
}