.navbar-list {
    height: 100vh;
    width: 100vw;
    animation: openNavbar 1s cubic-bezier(.23,.85,.38,1) forwards;
    background-color:rgba(255, 255, 255, 0.93);
    position: fixed;
    top: -100vh;
    left: 0px;
    outline: solid purple;
}

.upper-link {
    color: #02303f;
    font-size: 60px;
    font-weight: 800;
    line-height:70px;
    font-family: 'Poppins', sans-serif;
}

.nav-item:hover {
    color: #07bfe9;
    transition: transform 0.5s;
} .nav-item:hover {
    transform: translateY(-10px);
}

@keyframes openNavbar {
    0%{
        top: -100vh;
    }
    100%{
        top: 0vh;
    }
}